@media screen and (max-width: 480px){
  header{
    text-align: center;
    border: 2px soliy orange;
  }

  header figure{
    border: 2px solid red;
    width: 50% !important;
    margin: auto;
    float:none !important;

  }

  header figure img{
    border: 2px solid yellow;
  }

  .menu{
    border: 2px solid blue;
    width: 100%;
    margin: 0px;
  }
}

@media screen and (max-width: 599px) and (min-width: 481px) {}

@media screen and (max-width: 799px) and (min-width: 600px) {}

@media screen and (max-width: 1023px) and (min-width: 800px) {}

@media screen and (max-width: 1280px) and (min-width: 1024px) {      /* mac*/
}
@media screen and (max-width: 1366px) and (min-width: 1024px) { }

@media screen and (min-width: 1367px) { }
